<a href="https://colab.research.google.com/github/aayushbhawsar/PythonAayush/blob/master/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student={}
n=int(input())
for _ in range(n):
  Key=input("Enter Name")
  value=input("Enter percent")
  student[Key]=value

print(student)

2
Enter NameAayush
Enter percent79
Enter Nameyyoyo
Enter percent89
{'Aayush': '79', 'yyoyo': '89'}

In [ ]:
32 % 10

2

In [ ]:
z = 1 + 3 * 2 - 8 / 4 
print(z)

5.0

In [ ]:
x = int(89.7) 
print(x)

89

In [ ]:
 x = 0/1
 int(89.7)
 print(x)

0.0

In [23]:
Days = input('Enter number of Days')

Rate = input('Enter rate per Day')

TotalPay = float(Days)*float(Rate)
print('Total Pay:', TotalPay)

Enter number of Days45
Enter rate per Day2
Total Pay: 90.0

In [6]:
num=float(input("Enter the number"))
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("zero")

Enter the number0
zero

In [17]:
#try except
num=input("Enter a number")
try:
  val=int(num)
  print ("conersion successful")
except:
  val=-1

if val > 0:
  print("number is ",val)
else:
  print("not a positve number")

Enter a numbercvxgfn
not a positve number

In [15]:
#try except
#num=input("Enter a number")
try:
  val=4/2
  print ("division successful")
except:
  val=-1

if val > 0:
  print("answer is ",val)
else:
  print("can't divide by zero")

can't divide by zero

In [31]:
xh = input("Enter Days:")
xr = input("Enter Rate:")
try:
  fh = float(xh)
  fr = float(xr)
except:
  print("Error, please enter numeric input")

TotalPay = float(xh)*float(xr)
print('Total Pay:', TotalPay)

Enter Days:56
Enter Rate:54354
Total Pay: 3043824.0