<a href="https://colab.research.google.com/github/aayushbhawsar/PythonAayush/blob/master/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
student={}
n=int(input())
for _ in range(n):
  Key=input("Enter Name")
  value=input("Enter percent")
  student[Key]=value

print(student)

2
Enter NameAayush
Enter percent79
Enter Nameyyoyo
Enter percent89
{'Aayush': '79', 'yyoyo': '89'}

In [ ]:
32 % 10

2

In [ ]:
z = 1 + 3 * 2 - 8 / 4 
print(z)

5.0

In [ ]:
x = int(89.7) 
print(x)

89

In [ ]:
 x = 0/1
 int(89.7)
 print(x)

0.0

In [ ]:
Days = input('Enter number of Days')

Rate = input('Enter rate per Day')

TotalPay = float(Days)*float(Rate)
print('Total Pay:', TotalPay)

Enter number of Days45
Enter rate per Day2
Total Pay: 90.0

In [ ]:
num=float(input("Enter the number"))
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("zero")

Enter the number0
zero

In [ ]:
#try except
num=input("Enter a number")
try:
  val=int(num)
  print ("conersion successful")
except:
  val=-1

if val > 0:
  print("number is ",val)
else:
  print("not a positve number")

Enter a numbercvxgfn
not a positve number

In [ ]:
#try except
#num=input("Enter a number")
try:
  val=4/2
  print ("division successful")
except:
  val=-1

if val > 0:
  print("answer is ",val)
else:
  print("can't divide by zero")

can't divide by zero

In [ ]:
xh = input("Enter Days:")
xr = input("Enter Rate:")
try:
  fh = float(xh)
  fr = float(xr)
except:
  print("Error, please enter numeric input")

TotalPay = float(xh)*float(xr)
print('Total Pay:', TotalPay)

Enter Days:56
Enter Rate:54354
Total Pay: 3043824.0

In [51]:
#even and odd using function
def evenodd(num):
  if num==0:
    print("Number is zero")
  elif num%2==0:
    print("Number is even")
  else:
      print("Number is odd")

evenodd(int(input("Enter the number")))

Enter the number2
Number is even

In [53]:
#function with return value
def greet():
  return "Hello"
print(greet(),"Aayush")
print(greet(),"ram")

Hello Aayush
Hello ram

In [54]:
#function with multiple parameter
def add(a,b):
  return a+b
add(3,3)

6

In [57]:
def greet():
  print ("Hello")

  return

  print ("Hello1")

greet()

Hello

In [60]:
def say(message,time =1):
  print(message* time)
say("aayush")
say("good",5)

aayush
goodgoodgoodgoodgood

In [62]:
def computeTotalpay(Days,Rate):
  TotalPay = float(Days)*float(Rate)
  print('Total Pay:', TotalPay)

computeTotalpay(45,10)

Total Pay: 450.0

In [ ]:
def computepay(hour, rate):
    pay = hour * rate
    return pay

xh = input("Enter Hours:")

xr = input("Enter Rate:")


try:
    fh = float(xh)
    fr = float(xr)

    print("Pay: ",computepay(fh,fr))
except:
    print("Error, please enter numeric input")

In [ ]:
#while loop
count=0
while (count<=5):
  print("Aayush")
  count=count+1

In [ ]:
#break
while True:
  line=input("Enter the data")
  if line == 'done':
    break
  print("line")
print("Done!")

In [ ]:
#continue
while True:
  line=input("Enter the data")
  if line[0]=='#':
    continue
  if line == 'done':
    break
  print("line")
print("Done!")

In [81]:
#for loop
I=["aayush","Shadab","aamir"]
for i in I:
  print(i)

aayush
Shadab
aamir

In [95]:
#find the largest number
large = -1
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  if num > large:
    large=num
print(large)

9

In [97]:
#count element in th list
count= 0
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  count=count+1
print(count)

9

In [103]:
#sum the elements in the list
count= 0
sum=0
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  sum=sum + num
  count=count+1
print(sum)

45

In [ ]:
#Average of the elements in the list
count= 0
sum=0
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  sum=sum + num
  average=sum/len(I)
  count=count+1
print(sum)
print(average)

In [ ]:
#filtering in a loop
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  if num>5:
    print(num)

In [ ]:
#searching in a loop
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  if num==5:
    print("found")
  else:
      print("not found")

In [137]:
#finding the smallest value
small=None
I=[1,2,3,4,5,6,7,8,9]
for num in I:
  if small==None:
    small=num
  elif num < small:
    small=num
print(small)

1

In [163]:
#Write a program which repeatedly reads numbers until the user enters "exit". Once "exit" is entered, print out the sum, count, and average of the numbers. If the user enters anything other than a number, detect their mistake using try and except and print an error message and skip to the next number. Enter a number: 4 Enter a number: 5 Enter a number: bad data Invalid input Enter a number: exit 9.0 2 4.5

sum=0
count=0 
while True: 
  num=input('Enter Number: ') 
  if num=='exit': 
    break 
  try: 
    x=float(num) 
  except: 
    print('Data Invalid Input')
    continue
  count=count+1
  sum=sum+x  
print('Sum= ',sum) 
print('Count= ',count) 
print('Average= ',sum/count)

Enter Number: 2
Enter Number: 3
Enter Number: exit
Sum=  5.0
Count=  2
Average=  2.5